@import 'variables.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,600&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  

}
@media (min-width: 750px) and (max-width: 1024px){
   
header{
    background-color: cadetblue;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-items: center;
    margin:0rem;
    justify-content: center;
    height: 375px;
   
}
#navbar{
  
  display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-left: -30rem; 
    margin-top: 18rem;

   

}

 #navbar ul a{
    display: flex;
    justify-content:space-around;
 /*    margin: 3rem; */
    text-decoration: none; 
    font-family:var(--roboto_font);
    color: var(--red);
}

#navbar ul li{
   list-style: none;
}

#navbar ul{
    display:flex;
    background-color: var(--red);
   /*  height: 4rem; */
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
   /*  width: fit-content; */



}
.logo{
  
    display:grid;
    grid-column: 2/4;
    grid-row: 3/3;
    margin: 1px;
    width: 350px;
}
.hamburger{
    display: none;

}
.close{
    display: none;
}
a.csr-only{
    display: none;
}


  
.wrapper{
    display: flex;
    justify-content: center;
 
 
}
h1{
    display:flex;
    justify-content: center;
    font-size:3rem;
    color: var(--red);
    font-family: var(--roboto_font);
   /*  overflow: hidden; */
   
} 

.grid{
    display:grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(10, 200px);
    justify-content: center; 
    /* overflow: hidden; */
    background-color: aqua;
    min-width: 550px;
    max-width: 850px;
 
  



.mainimg{
    display: grid;
    grid-column: 1/5;
    grid-row: 5/5;
    width: 100%;
   /*  margin-left: 10rem; */
}

img[alt="Robot sayings."] {
    width:520px;
   
}


.secondimg{
    display: grid;
    grid-column: 1/6;
    grid-row: 1/4;
    margin-left: 6rem;
 
}



img[alt="Black apron with Bubbles."] {
    width:100%;
    height: 600px;
   
}

.products{
    display: grid;
    grid-row: 6/7;
    grid-column:1/5;
    margin-left: 10rem;
   
}
img[alt="Our products."] {
    width:550px;
}

figure a{
   margin: 10px;
    font-size: large;
    background-color: var(--white);
    opacity: 0.6;
    z-index: 5;
    font-size: x-large;
    padding: 2rem; 
    margin-bottom: 0;
    color: var(--blue);

}
figcaption {
   height: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5rem; 
   /*  color: var(--blue); */
    
}
figure img {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
   margin-top: 2rem;
    padding:10px;
    padding-top: 0;
    } 

}

h2{
    display:flex;
    justify-content: center;
    font-size:3rem;
    color: var(--red);
    font-family: var(--roboto_font);
   /*  overflow: hidden; */
   
} 
.wrapper{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
    

   
}
.row{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-width: 550px;
    max-width: 850px;
    height: 100%;
    gap: 1rem;
    margin: 5rem;


  

li{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: var(--red);
    background-color: var(--background_gradient_robot);
    border-radius: 50%;
    padding: 2rem;
    margin-top: 2rem;
    font-family: var(--roboto_font);
    background: linear-gradient(0deg, rgba(254,206,122,1) 0%, rgba(255,246,207,1) 100%);
}
}
.row:last-child{
display: flex;
justify-content: space-between;
}


 img{
    display:flex;
    width: 200px;
    object-fit: cover;
  
 }



footer{
    display:flex;
    justify-content: center;
    flex-direction: row;
    background-image: url(img/lil-bv-bkgd.jpg);
    height:500px;
    width: 100%;
    overflow: hidden;
    font-size: x-large;
  
}
footer p{
    font-family: var(--roboto_font);
    margin-top: 5rem;
    
}
 }